html,body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.banco-card {
    align-self: flex-start;
    margin: 10px;
    width: 280px;
}

.banco-card td {
    padding: 5px;
}

.banco-card th {
    padding: 5px;
}

.banco-card-wide1 {
    width: 380px;
}

.banco-card-wide2 {
    width: 500px;
    align-items: center;
}

form {
    padding: 20px;
}

.left-side {
    margin-right: 100px;
    display: inline-block;
}

.left-side div {
    display: block;
}

.left-side fieldset {
    margin: 20px 0;
}

.left-side fieldset>label {
    padding-right: 20px;
}

.right-side {
    vertical-align: top;
    display: inline-block;
}

.toolbar-section {
    width: 100%;
    margin-top: 50px;
}

.info-section {
    margin: 15px 0;
}

.info-section>* {
    display: inline-block;
    vertical-align: top;
}

.info-section table {
    margin-right: 200px;
}

.info-section ul li {
    padding: 0;
}

.mdl-grid.center-items {
    justify-content: center;
}
