{% extends "base.html" %} {% block content %}
<main class="mdl-layout__content">
    <div class="page-content">

        <div class="mdl-grid center-items">
            <div class="banco-card-wide2 banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">{{account.name}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table>
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Conta</th>
                                <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                <th class="mdl-data-table__cell--non-numeric">Saldo</th>
                            </tr>
                        </thead>
                        <tbody id="tabcontas">
                            <tr>
                                <td>{{account.id}}</td>
                                <td>{{account.name}}</td>
                                <td>P${{account.balance}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:conta' pk=account.id option='change' %}">
                        Modificar
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:conta' pk=account.id option='withdraw' %}">
                        Sacar
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:conta' pk=account.id option='transfer' %}">
                        Transferir
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:conta' pk=account.id option='extract' %}">
                        Extrato
                    </a>
                </div>
            </div>
        </div>

        {% if showDict.change %}
        <div class="mdl-grid center-items">
            <div class="banco-card-wide1 mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Alterar Conta</h2>
                </div>
                {% if is_valid %}
                <br>
                <h6 style="padding: 15px">Contato modificado!</h6>
                {% endif %}
                <form method="post">
                    <fieldset>
                        {% for acc_field in form_account %}
                        <div class="mdl-textfield mdl-js-textfield">
                            {{acc_field.label_tag}} {{acc_field}} {{acc_field.errors}}
                        </div>
                        {% endfor %}
                        <div class="mdl-card__actions mdl-card--border">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
                                Alterar conta
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}
        
        {% if showDict.withdraw and not combination %}
        <div class="mdl-grid center-items">
            <div class="banco-card-wide1 mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Saque</h2>
                </div>
                {% if response %}
                <br>
                <h6 style="padding: 20px">{{response}}</h6>
                {% endif %}
                <form method="post">
                    <fieldset>
                        {% for wit_field in form_withdrawal %}
                        <div class="mdl-textfield mdl-js-textfield">
                            {{wit_field.label_tag}} {{wit_field}} {{wit_field.errors}}
                        </div>
                        {% endfor %}
                        <div class="mdl-card__actions mdl-card--border">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
                                Sacar
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}

        {% if withdrawalSuccess %}
        <div class="mdl-grid center-items">
            <div class="banco-card-wide2 banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Saque // P${{withdrawal}}</h2>
                </div>
                <h6 style="padding: 20px">Saque realizado com sucesso</h6>
            </div>
        </div>
        {% endif %}

        {% if combination %}
        <div class="mdl-grid center-items">
            <div class="banco-card-wide1 banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">P${{withdrawal}} // Combinação de cédulas</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table>
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric"></th>
                                <th class="mdl-data-table__cell--non-numeric">P$1</th>
                                <th class="mdl-data-table__cell--non-numeric">P$2</th>
                                <th class="mdl-data-table__cell--non-numeric">P$5 </th>
                                <th class="mdl-data-table__cell--non-numeric">P$10</th>
                                <th class="mdl-data-table__cell--non-numeric">P$20</th>
                                <th class="mdl-data-table__cell--non-numeric">P$50</th>
                                <th class="mdl-data-table__cell--non-numeric">P$100</th>
                                <!-- <th class="mdl-data-table__cell--non-numeric">Saldo</th> -->
                            </tr>
                        </thead>
                        <tbody id="tabcontas">
                            <tr>
                                <td>
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:conta' pk=account.id option=withdrawalData1 %}">
                                            ok
                                    </a>
                                </td>
                                <td>
                                    <a>{{combination.0}}</a>
                                </td>
                                <td>
                                    <a>{{combination.1}}</a>
                                </td>
                                <td>
                                    <a>{{combination.2}}</a>
                                </td>
                                <td>
                                    <a>{{combination.3}}</a>
                                </td>
                                <td>
                                    <a>{{combination.4}}</a>
                                </td>
                                <td>
                                    <a>{{combination.5}}</a>
                                </td>
                                <td>
                                    <a>{{combination.6}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:conta' pk=account.id option=withdrawalData2 %}">
                                        ok
                                    </a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.0}}</a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.1}}</a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.2}}</a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.3}}</a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.4}}</a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.5}}</a>
                                </td>
                                <td>
                                    <a>{{combinationAlt.6}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if showDict.transfer %}
        <div class="mdl-grid center-items">
            <div class="mdl-grid center-items">
                <div class="banco-card-wide1 mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">Transferência</h2>
                    </div>
                    {% if is_valid %}
                    <br>
                    <h6 style="padding: 15px">Transferência bem-sucedida!</h6>
                    {% endif %}
                    <form method="post">
                        <fieldset>
                            {% for tra_field in form_transaction %}
                            <div class="mdl-textfield mdl-js-textfield mdl-cell--stretch">
                                {{tra_field.label_tag}} {{tra_field}} {{tra_field.errors}}
                            </div>
                            {% endfor %}
                            <div class="mdl-card__actions mdl-card--border">
                                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
                                    Transferir
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if showDict.extract %}
        <div class="mdl-grid center-items">
            <div class="banco-card-wide2 banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Extrato</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table>
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Conta</th>
                                <th class="mdl-data-table__cell--non-numeric">Ação</th>
                                <th class="mdl-data-table__cell--non-numeric">Conta afetada</th>
                                <th class="mdl-data-table__cell--non-numeric">Data</th>
                                <!-- <th class="mdl-data-table__cell--non-numeric">Saldo</th> -->
                            </tr>
                        </thead>
                        <tbody id="tabcontas">
                            {% for occurrence in history %}
                            <tr>
                                <td>
                                    <a>{{occurrence.account_id}}</a>
                                </td>
                                <td> {{occurrence.action}} </td>
                                <td>
                                    <a>{{occurrence.affected_account_id}}</a>
                                </td>
                                <td> {{occurrence.made_at}} </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="{javascript:atualizaContas();}">
                        Adicionar Conta
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}