{% extends "base.html" %} {% block content %}
<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid center-items">
            <div class="banco-card banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Contas</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table>
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Conta</th>
                                <th class="mdl-data-table__cell--non-numeric">Nome</th>
                                <!-- <th class="mdl-data-table__cell--non-numeric">Saldo</th> -->
                            </tr>
                        </thead>
                        <tbody id="tabcontas">
                            {% for account in accounts %}
                            <tr>
                                <td>{{account.id}}</td>
                                <td>
                                    <a href="{% url 'core:conta' pk=account.id %}">{{account.name}}</a>
                                </td>
                                <!-- <td>P${{account.balance}}</td> -->
                            </tr>
                            {% empty %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="{javascript:atualizaContas();}">
                        Adicionar Conta
                    </a>
                </div>
            </div>

            <div class="banco-card-wide1 banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Estoque do Caixa</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table>
                        <thead>
                            <tr>
                                <th>P$ 1</th>
                                <th>P$ 2</th>
                                <th>P$ 5</th>
                                <th>P$ 10</th>
                                <th>P$ 20</th>
                                <th>P$ 50</th>
                                <th>P$ 100</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="ced1">{{cashier.note1}}</td>
                                <td id="ced2">{{cashier.note2}}</td>
                                <td id="ced5">{{cashier.note5}}</td>
                                <td id="ced10">{{cashier.note10}}</td>
                                <td id="ced20">{{cashier.note20}}</td>
                                <td id="ced50">{{cashier.note50}}</td>
                                <td id="ced100">{{cashier.note100}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'core:caixa' %}">
                        Atualizar tabela
                    </a>
                </div>
            </div>

            <!-- !!! NÃO DELETAR !!! -->
            <!-- <div class="banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Alterar Estoque</h2>
                </div>
                <form method="post">
                    <fieldset>
                        {% for cas_field in form_cashier %}
                        <div class="mdl-textfield mdl-js-textfield">
                            {{cas_field.label_tag}} {{cas_field}} {{cas_field.errors}}
                        </div>
                        {% endfor %}
                        <div class="mdl-card__actions mdl-card--border">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
                                Alterar estoque
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div> -->

            <div class="banco-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Nova Conta</h2>
                </div>
                {% if is_valid %}
                <br>
                <h6 style="padding: 15px">Contato criado!</h6>
                {% endif %}
                <form method="post">
                    <fieldset>
                        {% for acc_field in form_account %}
                        <div class="mdl-textfield mdl-js-textfield">
                            {{acc_field.label_tag}} {{acc_field}} {{acc_field.errors}}
                        </div>
                        {% endfor %}
                        <div class="mdl-card__actions mdl-card--border">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
                                Criar conta
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


        <!-- !!! NÃO DELETAR !!! -->
        <!-- <div class="banco-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Saldo de Conta</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="saldoid">
                    <label class="mdl-textfield__label" for="saldoid">ID da conta</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="javascript:saldoConta();">
                    Ver saldo
                </a>
            </div>
        </div> -->

        <!-- !!! NÃO DELETAR !!! -->
        <div class="banco-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Alterar Conta</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="mudaid">
                    <label class="mdl-textfield__label" for="mudaid">ID da conta</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="mudanome">
                    <label class="mdl-textfield__label" for="mudanome">Novo nome da conta</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="number" step="any" min=0 id="mudasaldo">
                    <label class="mdl-textfield__label" for="mudasaldo">Novo saldo da conta</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="javascript:mudarConta();">
                    Mudar conta
                </a>
            </div>
        </div>

        <div class="banco-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Saque na Conta</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="saqueid">
                    <label class="mdl-textfield__label" for="saqueid">ID da conta</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="number" step="any" min=0 id="saquevalor">
                    <label class="mdl-textfield__label" for="saquevalor">Valor do saque</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="javascript:saqueConta();">
                    Realizar saque
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}